In [2]:
print("What You Want To Print")
print('What You Want To Print')

What You Want To Print
What You Want To Print

Example 1-1 (Strings)

In [3]:
print("Hello Python World!")

Hello Python World!

Example 1-2

In [4]:
print("Hello")
print("Python")
print("World")

Hello
Python
World

Example 1-3 (Integers)

In [5]:
print(13)
print(123456789)

13
123456789

Example 1-4 (Iterations)

In [6]:
print("Hello" * 3)
print(":)" * 10)

HelloHelloHello
:):):):):):):):):):)

Practice Problem #1-1: Fill out the blanks and print the following

My name is ___ and I am __ years old
My favorite class in DIS is ___.

Practice Problem #1-2: Print the Following

In [7]:
print("5 + 3 = 8")
print("1 + 2 = 3")

5 + 3 = 8
1 + 2 = 3

Various Print Methods

In [8]:
print("Hello")
print("World")

Hello
World

In [9]:
print("Hello", "World")
print("Hello" + "World")

Hello World
HelloWorld

In [10]:
print("Hello", end= "")
print("world")

Helloworld

In [11]:
print("Hello", end= "---")
print("world")

Hello---world

In [12]:
print("Hello", "World", sep="," )

Hello,World

String Return Function

Example 1-5

In [13]:
 print("I am 13 years old")
 print("I am " + str(13) + "years old")

I am 13 years old
I am 13years old

Example 1-6

In [14]:
 print("I am " + 13 + "years old")

TypeError: can only concatenate str (not "int") to str

Special Character Printing

Example 1-7

In [15]:
print("\"CSCC\"\n")
print("\\Student List\\")
print("Name\tAge\tFavourite Fruit")
print("Yujun\t16\tMango")
print("Jake\t16\tDragonfruit")

"CSCC"

\Student List\
Name	Age	Favourite Fruit
Yujun	16	Mango
Jake	16	Dragonfruit

Example 1-8

In [16]:
print("""
One day, Jake woke up.
Then, he made a groundbreaking discovery.
He could print multiple lines of string at once.
All he needed to do was provide three quotation marks.
""")

One day, Jake woke up.
Then, he made a groundbreaking discovery.
He could print multiple lines of string at once.
All he needed to do was provide three quotation marks.

Example 1-9

In [17]:
print("One day\nJake woke up.\nThen, he slept again.")

One day
Jake woke up.
Then, he slept again.

Chapter 1 Exercises!

In [16]:
# Exercise 1: Printing a string with special characters

Then he said, "Hi? I am Tommy."

In [17]:
# Exercise 2: Printing a formatted table using \t

Curriculum List

Class Num	Class Name	Blue/Green	Teacher
C01		Geometry	Blue		Mr.Gall
C02		Algebra 1	Green		Ms.Wang
C03		AP Psychology	Blue		Mr.Lipsky

In [18]:
# Exercise 3: Printing ASCII art of a cute face

(@) (@)
(=^.^=)
(-m-m-)