List can store and work with many variables together. As it can store various files, data can be managed efficiently.

List is is collection type variable that can store multiple variables divided by commas(,) within a bracket[]. Each variable, or file that goes within the brackets is called an element of the list.

# **List_Name = [E1, E2, E3, E4, â€¦]**

# **Printing with List**

In [2]:
# Example 11 - 1
List_a = [1,2,3,4,5]
print(List_a)

List_b = [100, "hi", 3.14]
print(List_b)

[1, 2, 3, 4, 5]
[100, 'hi', 3.14]

In [3]:
 #Example 11-2

 List_a = [10,20,True,3.14,30]
 print(List_a[0])
 print(List_a[2:4])

10
[True, 3.14]

In [4]:
 #Example 11-3

 List_a = [10,20,True,3.14,30]
 print(List_a)

 List_a[1] = 200
 print(List_a)

[10, 20, True, 3.14, 30]
[10, 200, True, 3.14, 30]

# **List length : len()**

In [5]:
 #Example 11-4
 List_a = [1,2,3,4,5,6]
 length = len(List_a)
 print(length)

6

In [6]:
 #Example 11-5
 List_a = []
 List_a.append(30)
 List_a.append(True)
 List_a.append(3.14)
 List_a.append("hi")
 print(List_a)

 List_a.insert(1,15)
 print(List_a)

[30, True, 3.14, 'hi']
[30, 15, True, 3.14, 'hi']

# **List delete : del, pop(), remove(), clear()**

In [7]:
 #Example 11-6

 List_a = [1,2,3,4,5,6]
 print(List_a)
 del List_a[0]
 print(List_a)
 del List_a[0]
 print(List_a)

[1, 2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]
[3, 4, 5, 6]

In [8]:
 #Example 11-7
 List_a = [1,2,3,4,5,6]
 data1 = List_a.pop()
 print(List_a)
 data2 = List_a.pop(1)
 print(List_a)
 print(data1,data2)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]
6 2

***Remove()***

In [9]:
 #Example 11-8

 List_a = [1,2,3,4,5,5,6]

 List_a.remove(2)
 print(List_a)
 List_a.remove(5)
 print(List_a)

[1, 3, 4, 5, 5, 6]
[1, 3, 4, 5, 6]

***clear()***

In [ ]:
 #Example 11-9
 List_a = [1,2,3,4,5,6]
 print(List_a)
 List_a.clear()
 print(List_a)

[1, 2, 3, 4, 5, 6]
[]

# **List sorting, flipping : sort(), reverse()**

***sort()***

In [ ]:
 #Example 11-10

 List_a = [6,4,2,5,3,1,-4,-3]

 List_a.sort()
 print(List_a)

 List_a.sort(reverse=True)
 print(List_a)

[-4, -3, 1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1, -3, -4]

***reverse()***

In [ ]:
 #Example 11-11
 List_a = [1,2,3,4,5,6]
 List_a.reverse()
 print(List_a)

[6, 5, 4, 3, 2, 1]

# **List element number,location counting : count(), index()**

***count()***

In [ ]:
 #Example 11-12

 List_a = [1,2,3,1,2,3,1,2,3,4]
 print(List_a.count(1))
 print(List_a.count(4))

3
1

***index()***

In [ ]:
 #Example 11-13
 List_a = [1,2,3,1,4,5,6,7]
 print(List_a.index(2))
 print(List_a.index(1))

1
0

# **4 common ways to print values of the list**

**Raw Output**

In [ ]:
 List_a = [1,2,3,4]
 print(List_a)

[1, 2, 3, 4]

**Manual iteration**

In [ ]:
 #Example 11-15

 List_a = [1,2,3,4]
 print(List_a[0])
 print(List_a[1])
 print(List_a[2])
 print(List_a[3])

1
2
3
4

**For iteration w/ i index**

In [10]:
 #Example 11-16

 List_a = [1,2,3,4]
 Length = len(List_a)
 for i in range(Length):
       print(List_a[i])

1
2
3
4

**For iteration w/ i value**

In [ ]:
 #Example 11-17

 List_a = [1,2,3,4]
 for i in List_a:
       print(i)

1
2
3
4

**String list w/o space**

In [ ]:
 #Example 11-17

 List_a = list(input())
 print(List_a)

[]

**String list with space**

In [14]:
 #Example 11-16

 List_a = list(input().split())
 print(List_a)

['hello']

**Integer list w/o space**

In [15]:
#Example 11-15

List_a = list(map(int,input()))
print(List_a)

[4]

**Integer list with space**

In [16]:
 #Example 11-14

 List_a = list(map(int,input().split()))
 print(List_a)

[5]

# **List Exercises**

Problem 1: Make a program that stores and prints elements separated by lines in a list.  
**[Input]**:
 1
 2
 3
 8
 12


**[Output]**:
 1 2 3 8 12

In [ ]:
# Problem 1

Problem 2: Make a program that stores and prints elements separated by space in a list.


**[Input]:** 1 2 3 8 12


**[Output]:** 1 2 3 8 12

In [ ]:
# Problem 2

Problem 3: Make a program that stores and prints elements separated by lines in a list in reverse order

**[Input]:**
 1
 2
 3
 8
 12


**[Output]:**
 12 8 3 2 1

In [ ]:
# Problem 3

Problem 4: Make a program that stores and prints elements separated by space in a list in reverse order

 **[Input]:**
 1 2 3 8 12


 **[Output]:**
 12 8 3 2 1

In [ ]:
# Problem 4

Problem 5: Make a program that gets input and prints out integers over 100.
  
  **[Input]:**
 10 120 30 260 90 110 140


 **[Output]:**
 120 260 110 140

In [ ]:
# Problem 5

Problem 6: Make a program that stores 10 integers, puts it in increasing order, then prints them
  
  **[Input]:**
 3 8 3 -7 31 8 34 8 -234


 **[Output]:**
 -234 -7 3 3 8 8 8 31 34

In [ ]:
# Problem 6

Problem 7: Make a program that inputs 10 integers and prints largest value under 100 and largest value above 100.

  **[Input]:**
 88 123 659 15 443 1 99 31 105 48


 **[Output]:**
 99 105

In [ ]:
# Problem 7

Problem 7: Make a program that inputs integers indefinitely until 0 is inputted, organize all the integers inputted except for the 0, and prints them in order.

  **[Input]:**
 2
 7
 3
 -17
 12
 36
 0


 **[Output]:**
 -17 2 3 7 12 36

In [ ]:
# Problem 8